<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.ucloudlink.uservice"
    android:sharedUserId="android.uid.phone">

    <application
        android:name=".UServiceApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true">
        <receiver android:name=".TestReceiver">
            <intent-filter>
                <action android:name="com.ucloudlink.cmd.login" />
                <action android:name="com.ucloudlink.cmd.change.mode" />
                <action android:name="com.ucloudlink.cmd.logout" />
                <action android:name="com.ucloudlink.cmd.set.factory.ip" />
                <action android:name="com.ucloudlink.cmd.ctrl.gps" />
                <action android:name="com.ucloudlink.cmd.traceroute" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>